.loading {
    margin: 0;
    background: linear-gradient(270deg, #1c1c77, #1818b3, #396f9c, #6fbdd4, #e8f9fd);
    animation: progress 2s ease;
    height: 0.2em;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.stopped {
    display: none;
}
